{% extends 'base.html'%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
{% endblock %}

{% block content %}
<body>
  <div class='container'>
  <h1>NEWS SOURCES</h1>
  
    <ul class="sourceul">
      {% for newssource in sourceinfo %}
      <li class="sourceli">
        <a href="/newspieces/{{newssource.source_id}}">
          <p>{{newssource.name}}</p>
        </a>
      </li>
      {%endfor%}
    </ul>


 </div>
</body>

  


{% endblock %}